In [101]:
from random import randint, choice, choices
import string
from faker import Faker
from datetime import *

In [102]:
fake = Faker()

In [103]:
print(fake.date())

1975-08-04

In [104]:
orders = []

In [105]:
today = date.today()
today = str(today).split("-")
print(today)

['2022', '09', '23']

In [106]:
next_order_year  = int(today[0])
next_order_month = int(today[1])
next_order_day   = int(today[2])

In [107]:
order_times = []

In [108]:
today = datetime.today()

num_orders = 10
def rand_days():
    return choice([0, randint(0,4)])

for i in range(num_orders):
    ordered = fake.date_between_dates(date_start=datetime(2018,1,1), date_end=datetime(2022,9,16))
    to_ship_time = (ordered + timedelta(days=rand_days()))
    shipped = choices(['NULL', to_ship_time], [100, 99])[0]
    if shipped != 'NULL':
        delivered = choices(['NULL' , shipped + timedelta(days=rand_days())], [200, 98])[0]
    else:
        delivered = 'NULL'
    order_times.append({'ordered': str(ordered), 'shipped': str(shipped), 'delivered': str(delivered)})
    # print('ordered: ', ordered, 'shipped: ', shipped, 'delivered: ', delivered, end = '\n')
print(order_times)

[{'ordered': '2020-03-22', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2021-07-28', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2019-04-14', 'shipped': '2019-04-15', 'delivered': '2019-04-18'}, {'ordered': '2018-02-22', 'shipped': '2018-02-22', 'delivered': 'NULL'}, {'ordered': '2018-11-24', 'shipped': '2018-11-28', 'delivered': '2018-12-01'}, {'ordered': '2020-07-14', 'shipped': '2020-07-14', 'delivered': '2020-07-14'}, {'ordered': '2018-12-31', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2018-04-16', 'shipped': '2018-04-16', 'delivered': '2018-04-19'}, {'ordered': '2020-11-07', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2021-11-30', 'shipped': '2021-11-30', 'delivered': 'NULL'}]

In [109]:
# def date_ordered():
#     order_date = fake.date_between_dates(
#         date_start=datetime.date(
#             next_order_year, 
#             next_order_month, 
#             next_order_day
#         ), 
#         date_end=datetime.date(
#             next_order_year + choice(0, ), 
#             next_order_month, 
#             next_order_day)).year
#         )

In [110]:
def order_status(order_time):
    for date in order_times:
        if order_time['delivered'] != 'NULL':
            return 'DELIVERED'
        elif order_time['shipped'] != 'NULL':
            return 'IN TRANSIT'
        else:
            return 'ORDERED'

In [111]:
def generate_orders(num_orders):
    total_orders = num_orders
    i = 0
    while i < total_orders:
        
        order = {
            "order_id"        : i + 1,
            "user_id"         : i + 1,
            "address_id"      : i + 1,
            "price"           : round(randint(0, 300) + 0.99 * randint(1, 30), 2),
            "credit_card_id"  : i + 1,
            "date_ordered"    : order_times[i]['ordered'],
            "date_shipped"    : order_times[i]['shipped'], #is shipped? if so ship date function
            "date_delivered"  : order_times[i]['delivered'], #is order? if so del date function
            "order_status"    : order_status(order_times[i]),
        }       

        orders.append(order)
        i += 1
    print(orders)

In [112]:
generate_orders(10)

[{'order_id': 1, 'user_id': 1, 'address_id': 1, 'price': 230.95, 'credit_card_id': 1, 'date_ordered': '2020-03-22', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 2, 'user_id': 2, 'address_id': 2, 'price': 292.73, 'credit_card_id': 2, 'date_ordered': '2021-07-28', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 3, 'user_id': 3, 'address_id': 3, 'price': 62.7, 'credit_card_id': 3, 'date_ordered': '2019-04-14', 'date_shipped': '2019-04-15', 'date_delivered': '2019-04-18', 'order_status': 'DELIVERED'}, {'order_id': 4, 'user_id': 4, 'address_id': 4, 'price': 30.99, 'credit_card_id': 4, 'date_ordered': '2018-02-22', 'date_shipped': '2018-02-22', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 5, 'user_id': 5, 'address_id': 5, 'price': 58.71, 'credit_card_id': 5, 'date_ordered': '2018-11-24', 'date_shipped': '2018-11-28', 'date_delivered': '2018-12-01', 'order_status': 'DELIVERED'}, {'order_id': 6, 'user_id': 6, 'address_id': 6, 'price': 140.99, 'credit_card_id': 6, 'date_ordered': '2020-07-14', 'date_shipped': '2020-07-14', 'date_delivered': '2020-07-14', 'order_status': 'DELIVERED'}, {'order_id': 7, 'user_id': 7, 'address_id': 7, 'price': 105.92, 'credit_card_id': 7, 'date_ordered': '2018-12-31', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 8, 'user_id': 8, 'address_id': 8, 'price': 158.9, 'credit_card_id': 8, 'date_ordered': '2018-04-16', 'date_shipped': '2018-04-16', 'date_delivered': '2018-04-19', 'order_status': 'DELIVERED'}, {'order_id': 9, 'user_id': 9, 'address_id': 9, 'price': 48.79, 'credit_card_id': 9, 'date_ordered': '2020-11-07', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 10, 'user_id': 10, 'address_id': 10, 'price': 302.72, 'credit_card_id': 10, 'date_ordered': '2021-11-30', 'date_shipped': '2021-11-30', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}]

In [113]:
# def generate_orders(num_orders):
#     total_orders = num_orders
#     i = 0
#     while i < total_orders:
        
#         order = {
#             "order_id"        : i + 1,
#             "user_id"         : i + 1,
#             "address_id"      : i + 1,
#             "price"           : randint(0, ),
#             "credit_card_id"  : i + 1,
#             "date_ordered"    : fake.date(),
#             "date_shipped"    : fake.date(), #is shipped? if so ship date function
#             "date_delivered"  : fake.date(), #is order? if so del date function
#             "order_status"    : order_status(),
#         }       

#         orders.append(order)
#         i += 1
#     print(orders)

In [114]:
generate_orders(10)

[{'order_id': 1, 'user_id': 1, 'address_id': 1, 'price': 230.95, 'credit_card_id': 1, 'date_ordered': '2020-03-22', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 2, 'user_id': 2, 'address_id': 2, 'price': 292.73, 'credit_card_id': 2, 'date_ordered': '2021-07-28', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 3, 'user_id': 3, 'address_id': 3, 'price': 62.7, 'credit_card_id': 3, 'date_ordered': '2019-04-14', 'date_shipped': '2019-04-15', 'date_delivered': '2019-04-18', 'order_status': 'DELIVERED'}, {'order_id': 4, 'user_id': 4, 'address_id': 4, 'price': 30.99, 'credit_card_id': 4, 'date_ordered': '2018-02-22', 'date_shipped': '2018-02-22', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 5, 'user_id': 5, 'address_id': 5, 'price': 58.71, 'credit_card_id': 5, 'date_ordered': '2018-11-24', 'date_shipped': '2018-11-28', 'date_delivered': '2018-12-01', 'order_status': 'DELIVERED'}, {'order_id': 6, 'user_id': 6, 'address_id': 6, 'price': 140.99, 'credit_card_id': 6, 'date_ordered': '2020-07-14', 'date_shipped': '2020-07-14', 'date_delivered': '2020-07-14', 'order_status': 'DELIVERED'}, {'order_id': 7, 'user_id': 7, 'address_id': 7, 'price': 105.92, 'credit_card_id': 7, 'date_ordered': '2018-12-31', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 8, 'user_id': 8, 'address_id': 8, 'price': 158.9, 'credit_card_id': 8, 'date_ordered': '2018-04-16', 'date_shipped': '2018-04-16', 'date_delivered': '2018-04-19', 'order_status': 'DELIVERED'}, {'order_id': 9, 'user_id': 9, 'address_id': 9, 'price': 48.79, 'credit_card_id': 9, 'date_ordered': '2020-11-07', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 10, 'user_id': 10, 'address_id': 10, 'price': 302.72, 'credit_card_id': 10, 'date_ordered': '2021-11-30', 'date_shipped': '2021-11-30', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 1, 'user_id': 1, 'address_id': 1, 'price': 196.86, 'credit_card_id': 1, 'date_ordered': '2020-03-22', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 2, 'user_id': 2, 'address_id': 2, 'price': 238.87, 'credit_card_id': 2, 'date_ordered': '2021-07-28', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 3, 'user_id': 3, 'address_id': 3, 'price': 261.82, 'credit_card_id': 3, 'date_ordered': '2019-04-14', 'date_shipped': '2019-04-15', 'date_delivered': '2019-04-18', 'order_status': 'DELIVERED'}, {'order_id': 4, 'user_id': 4, 'address_id': 4, 'price': 41.96, 'credit_card_id': 4, 'date_ordered': '2018-02-22', 'date_shipped': '2018-02-22', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 5, 'user_id': 5, 'address_id': 5, 'price': 117.92, 'credit_card_id': 5, 'date_ordered': '2018-11-24', 'date_shipped': '2018-11-28', 'date_delivered': '2018-12-01', 'order_status': 'DELIVERED'}, {'order_id': 6, 'user_id': 6, 'address_id': 6, 'price': 204.75, 'credit_card_id': 6, 'date_ordered': '2020-07-14', 'date_shipped': '2020-07-14', 'date_delivered': '2020-07-14', 'order_status': 'DELIVERED'}, {'order_id': 7, 'user_id': 7, 'address_id': 7, 'price': 129.91, 'credit_card_id': 7, 'date_ordered': '2018-12-31', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 8, 'user_id': 8, 'address_id': 8, 'price': 308.7, 'credit_card_id': 8, 'date_ordered': '2018-04-16', 'date_shipped': '2018-04-16', 'date_delivered': '2018-04-19', 'order_status': 'DELIVERED'}, {'order_id': 9, 'user_id': 9, 'address_id': 9, 'price': 93.77, 'credit_card_id': 9, 'date_ordered': '2020-11-07', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 10, 'user_id': 10, 'address_id': 10, 'price': 305.8, 'credit_card_id': 10, 'date_ordered': '2021-11-30', 'date_shipped': '2021-11-30', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}]

In [115]:
def print_it():
    string = ""
    for i in range(len(orders)):
        shipped_val = f"'{orders[i]['date_shipped']}'" 
        delivered_val = f"'{orders[i]['date_delivered']}'" 
        user_id = orders[i]['user_id'] if 'user_id' in orders[i] else i + 1
        string = string + f"INSERT INTO orders VALUES({orders[i]['order_id']}, {user_id}, {orders[i]['address_id']}, {orders[i]['price']}, {orders[i]['credit_card_id']}, '{orders[i]['date_ordered']}', {'NULL' if orders[i]['date_shipped'] == 'NULL' else f'{shipped_val}'}, {'NULL' if orders[i]['date_delivered'] == 'NULL' else f'{delivered_val}'}, '{orders[i]['order_status']}');\n"
                                                                                                                                                                                                        # 'NULL' if orders[i]['date_shipped'] == 'NULL' else f'{shipped_val}'
                                                                                                                                                                                                        # 'NULL' if orders[i]['date_delivered'] == 'NULL' else f'{delivered_val}'
    print(string)

In [116]:
print_it()

INSERT INTO orders VALUES(1, 1, 1, 230.95, 1, '2020-03-22', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(2, 2, 2, 292.73, 2, '2021-07-28', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(3, 3, 3, 62.7, 3, '2019-04-14', '2019-04-15', '2019-04-18', 'DELIVERED');
INSERT INTO orders VALUES(4, 4, 4, 30.99, 4, '2018-02-22', '2018-02-22', NULL, 'IN TRANSIT');
INSERT INTO orders VALUES(5, 5, 5, 58.71, 5, '2018-11-24', '2018-11-28', '2018-12-01', 'DELIVERED');
INSERT INTO orders VALUES(6, 6, 6, 140.99, 6, '2020-07-14', '2020-07-14', '2020-07-14', 'DELIVERED');
INSERT INTO orders VALUES(7, 7, 7, 105.92, 7, '2018-12-31', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(8, 8, 8, 158.9, 8, '2018-04-16', '2018-04-16', '2018-04-19', 'DELIVERED');
INSERT INTO orders VALUES(9, 9, 9, 48.79, 9, '2020-11-07', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(10, 10, 10, 302.72, 10, '2021-11-30', '2021-11-30', NULL, 'IN TRANSIT');
INSERT INTO orders VALUES(1, 1, 1, 196.86, 1, '2020-03-22', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(2, 2, 2, 238.87, 2, '2021-07-28', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(3, 3, 3, 261.82, 3, '2019-04-14', '2019-04-15', '2019-04-18', 'DELIVERED');
INSERT INTO orders VALUES(4, 4, 4, 41.96, 4, '2018-02-22', '2018-02-22', NULL, 'IN TRANSIT');
INSERT INTO orders VALUES(5, 5, 5, 117.92, 5, '2018-11-24', '2018-11-28', '2018-12-01', 'DELIVERED');
INSERT INTO orders VALUES(6, 6, 6, 204.75, 6, '2020-07-14', '2020-07-14', '2020-07-14', 'DELIVERED');
INSERT INTO orders VALUES(7, 7, 7, 129.91, 7, '2018-12-31', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(8, 8, 8, 308.7, 8, '2018-04-16', '2018-04-16', '2018-04-19', 'DELIVERED');
INSERT INTO orders VALUES(9, 9, 9, 93.77, 9, '2020-11-07', NULL, NULL, 'ORDERED');
INSERT INTO orders VALUES(10, 10, 10, 305.8, 10, '2021-11-30', '2021-11-30', NULL, 'IN TRANSIT');