In [3]:
from random import randint, choice, choices
import string
from faker import Faker
from datetime import *

In [4]:
fake = Faker()

In [5]:
print(fake.date())

2020-01-24

In [6]:
orders = []

In [7]:
today = date.today()
today = str(today).split("-")
print(today)

['2022', '09', '23']

In [8]:
next_order_year  = int(today[0])
next_order_month = int(today[1])
next_order_day   = int(today[2])

In [9]:
order_times = []

In [10]:
today = datetime.today()

num_orders = 10
def rand_days():
    return choice([0, randint(0,4)])

for i in range(num_orders):
    ordered = fake.date_between_dates(date_start=datetime(2018,1,1), date_end=datetime(2022,9,16))
    to_ship_time = (ordered + timedelta(days=rand_days()))
    shipped = choices(['NULL', to_ship_time], [100, 99])[0]
    if shipped != 'NULL':
        delivered = choices(['NULL' , shipped + timedelta(days=rand_days())], [200, 98])[0]
    else:
        delivered = 'NULL'
    order_times.append({'ordered': str(ordered), 'shipped': str(shipped), 'delivered': str(delivered)})
    # print('ordered: ', ordered, 'shipped: ', shipped, 'delivered: ', delivered, end = '\n')
print(order_times)

[{'ordered': '2021-06-18', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2020-12-09', 'shipped': '2020-12-09', 'delivered': 'NULL'}, {'ordered': '2021-02-18', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2019-12-27', 'shipped': '2019-12-28', 'delivered': 'NULL'}, {'ordered': '2021-07-19', 'shipped': '2021-07-22', 'delivered': 'NULL'}, {'ordered': '2022-04-12', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2022-01-18', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2021-05-16', 'shipped': 'NULL', 'delivered': 'NULL'}, {'ordered': '2019-03-29', 'shipped': '2019-03-29', 'delivered': 'NULL'}, {'ordered': '2022-08-16', 'shipped': 'NULL', 'delivered': 'NULL'}]

In [11]:
# def date_ordered():
#     order_date = fake.date_between_dates(
#         date_start=datetime.date(
#             next_order_year, 
#             next_order_month, 
#             next_order_day
#         ), 
#         date_end=datetime.date(
#             next_order_year + choice(0, ), 
#             next_order_month, 
#             next_order_day)).year
#         )

In [12]:
def order_status(order_time):
    for date in order_times:
        if order_time['delivered'] != 'NULL':
            return 'DELIVERED'
        elif order_time['shipped'] != 'NULL':
            return 'IN TRANSIT'
        else:
            return 'ORDERED'

In [13]:
def generate_orders(num_orders):
    total_orders = num_orders
    i = 0
    while i < total_orders:
        
        order = {
            "order_id"        : i + 1,
            "user_id"         : i + 1,
            "address_id"      : i + 1,
            "price"           : round(randint(0, 300) + 0.99 * randint(1, 30), 2),
            "credit_card_id"  : i + 1,
            "date_ordered"    : order_times[i]['ordered'],
            "date_shipped"    : order_times[i]['shipped'], #is shipped? if so ship date function
            "date_delivered"  : order_times[i]['delivered'], #is order? if so del date function
            "order_status"    : order_status(order_times[i]),
        }       

        orders.append(order)
        i += 1
    print(orders)

In [14]:
generate_orders(10)

[{'order_id': 1, 'user_id': 1, 'address_id': 1, 'price': 139.77, 'credit_card_id': 1, 'date_ordered': '2021-06-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 2, 'user_id': 2, 'address_id': 2, 'price': 297.79, 'credit_card_id': 2, 'date_ordered': '2020-12-09', 'date_shipped': '2020-12-09', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 3, 'user_id': 3, 'address_id': 3, 'price': 40.95, 'credit_card_id': 3, 'date_ordered': '2021-02-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 4, 'user_id': 4, 'address_id': 4, 'price': 159.78, 'credit_card_id': 4, 'date_ordered': '2019-12-27', 'date_shipped': '2019-12-28', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 5, 'user_id': 5, 'address_id': 5, 'price': 233.8, 'credit_card_id': 5, 'date_ordered': '2021-07-19', 'date_shipped': '2021-07-22', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 6, 'user_id': 6, 'address_id': 6, 'price': 274.71, 'credit_card_id': 6, 'date_ordered': '2022-04-12', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 7, 'user_id': 7, 'address_id': 7, 'price': 103.75, 'credit_card_id': 7, 'date_ordered': '2022-01-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 8, 'user_id': 8, 'address_id': 8, 'price': 64.88, 'credit_card_id': 8, 'date_ordered': '2021-05-16', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 9, 'user_id': 9, 'address_id': 9, 'price': 273.99, 'credit_card_id': 9, 'date_ordered': '2019-03-29', 'date_shipped': '2019-03-29', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 10, 'user_id': 10, 'address_id': 10, 'price': 148.78, 'credit_card_id': 10, 'date_ordered': '2022-08-16', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}]

In [15]:
generate_orders(10)

[{'order_id': 1, 'user_id': 1, 'address_id': 1, 'price': 139.77, 'credit_card_id': 1, 'date_ordered': '2021-06-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 2, 'user_id': 2, 'address_id': 2, 'price': 297.79, 'credit_card_id': 2, 'date_ordered': '2020-12-09', 'date_shipped': '2020-12-09', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 3, 'user_id': 3, 'address_id': 3, 'price': 40.95, 'credit_card_id': 3, 'date_ordered': '2021-02-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 4, 'user_id': 4, 'address_id': 4, 'price': 159.78, 'credit_card_id': 4, 'date_ordered': '2019-12-27', 'date_shipped': '2019-12-28', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 5, 'user_id': 5, 'address_id': 5, 'price': 233.8, 'credit_card_id': 5, 'date_ordered': '2021-07-19', 'date_shipped': '2021-07-22', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 6, 'user_id': 6, 'address_id': 6, 'price': 274.71, 'credit_card_id': 6, 'date_ordered': '2022-04-12', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 7, 'user_id': 7, 'address_id': 7, 'price': 103.75, 'credit_card_id': 7, 'date_ordered': '2022-01-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 8, 'user_id': 8, 'address_id': 8, 'price': 64.88, 'credit_card_id': 8, 'date_ordered': '2021-05-16', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 9, 'user_id': 9, 'address_id': 9, 'price': 273.99, 'credit_card_id': 9, 'date_ordered': '2019-03-29', 'date_shipped': '2019-03-29', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 10, 'user_id': 10, 'address_id': 10, 'price': 148.78, 'credit_card_id': 10, 'date_ordered': '2022-08-16', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 1, 'user_id': 1, 'address_id': 1, 'price': 134.78, 'credit_card_id': 1, 'date_ordered': '2021-06-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 2, 'user_id': 2, 'address_id': 2, 'price': 140.91, 'credit_card_id': 2, 'date_ordered': '2020-12-09', 'date_shipped': '2020-12-09', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 3, 'user_id': 3, 'address_id': 3, 'price': 133.97, 'credit_card_id': 3, 'date_ordered': '2021-02-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 4, 'user_id': 4, 'address_id': 4, 'price': 207.75, 'credit_card_id': 4, 'date_ordered': '2019-12-27', 'date_shipped': '2019-12-28', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 5, 'user_id': 5, 'address_id': 5, 'price': 59.88, 'credit_card_id': 5, 'date_ordered': '2021-07-19', 'date_shipped': '2021-07-22', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 6, 'user_id': 6, 'address_id': 6, 'price': 300.8, 'credit_card_id': 6, 'date_ordered': '2022-04-12', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 7, 'user_id': 7, 'address_id': 7, 'price': 125.94, 'credit_card_id': 7, 'date_ordered': '2022-01-18', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 8, 'user_id': 8, 'address_id': 8, 'price': 17.83, 'credit_card_id': 8, 'date_ordered': '2021-05-16', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}, {'order_id': 9, 'user_id': 9, 'address_id': 9, 'price': 282.96, 'credit_card_id': 9, 'date_ordered': '2019-03-29', 'date_shipped': '2019-03-29', 'date_delivered': 'NULL', 'order_status': 'IN TRANSIT'}, {'order_id': 10, 'user_id': 10, 'address_id': 10, 'price': 217.71, 'credit_card_id': 10, 'date_ordered': '2022-08-16', 'date_shipped': 'NULL', 'date_delivered': 'NULL', 'order_status': 'ORDERED'}]

In [16]:
def print_it():
    string = ""
    values = f"(user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status)"
    for i in range(len(orders)):
        shipped_val = f"'{orders[i]['date_shipped']}'" 
        delivered_val = f"'{orders[i]['date_delivered']}'" 
        user_id = orders[i]['user_id'] if 'user_id' in orders[i] else i + 1
        # string = string + f"INSERT INTO orders VALUES({orders[i]['order_id']}, {user_id}, {orders[i]['address_id']}, {orders[i]['price']}, {orders[i]['credit_card_id']}, '{orders[i]['date_ordered']}', {'NULL' if orders[i]['date_shipped'] == 'NULL' else f'{shipped_val}'}, {'NULL' if orders[i]['date_delivered'] == 'NULL' else f'{delivered_val}'}, '{orders[i]['order_status']}');\n"
        string = string + f"INSERT INTO orders {values} VALUES({user_id}, {orders[i]['address_id']}, {orders[i]['price']}, {orders[i]['credit_card_id']}, '{orders[i]['date_ordered']}', {'NULL' if orders[i]['date_shipped'] == 'NULL' else f'{shipped_val}'}, {'NULL' if orders[i]['date_delivered'] == 'NULL' else f'{delivered_val}'}, '{orders[i]['order_status']}');\n"
                                                                                                                                                                                             # 'NULL' if orders[i]['date_delivered'] == 'NULL' else f'{delivered_val}'
    print(string)

In [17]:
print_it()

INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(1, 1, 139.77, 1, '2021-06-18', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(2, 2, 297.79, 2, '2020-12-09', '2020-12-09', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(3, 3, 40.95, 3, '2021-02-18', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(4, 4, 159.78, 4, '2019-12-27', '2019-12-28', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(5, 5, 233.8, 5, '2021-07-19', '2021-07-22', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(6, 6, 274.71, 6, '2022-04-12', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(7, 7, 103.75, 7, '2022-01-18', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(8, 8, 64.88, 8, '2021-05-16', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(9, 9, 273.99, 9, '2019-03-29', '2019-03-29', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(10, 10, 148.78, 10, '2022-08-16', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(1, 1, 134.78, 1, '2021-06-18', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(2, 2, 140.91, 2, '2020-12-09', '2020-12-09', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(3, 3, 133.97, 3, '2021-02-18', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(4, 4, 207.75, 4, '2019-12-27', '2019-12-28', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(5, 5, 59.88, 5, '2021-07-19', '2021-07-22', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(6, 6, 300.8, 6, '2022-04-12', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(7, 7, 125.94, 7, '2022-01-18', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(8, 8, 17.83, 8, '2021-05-16', NULL, NULL, 'ORDERED');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(9, 9, 282.96, 9, '2019-03-29', '2019-03-29', NULL, 'IN TRANSIT');
INSERT INTO orders (user_id, address_id, price, credit_card_id, date_ordered, date_shipped, date_delivered, order_status) VALUES(10, 10, 217.71, 10, '2022-08-16', NULL, NULL, 'ORDERED');